<h1> Recuperar Senha - Heath Title</h1>
<div> 
  Recuperar Senha - Heath Subtitle
  <ul>
    <li> Nome: <%= @users.name %></li>
    <li> E-mail: <%= @users.email %></li>
    <li> Token: <%= @users.reset_password_token %></li>
    <li> Token gerado às <%= @users.reset_password_sent_at %></li>
    <li> O Token será valido por 2 horas. </li>
  </ul>
</div>